    text-decoration: none !important
}

a {
    text-decoration: none !important;
}
a:hover {
    text-decoration: none;
    background-color: transparent;
    color: inherit;
}

.character-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 20px;
}
.chara-listing.name {
    cursor: pointer;
}
.character-thumb {
    position: relative;
    display: inline-block;
    width: 190px;
    background-color: #0f0f17;
    border-radius: 5px 5px 5px 5px;
    background-repeat: no-repeat;
    background-size: 160px 180px;
}
.character-thumb > div {
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    max-width: none;
}

.character-thumb > .carder {
    position: relative;
    width: 190px;
    height: 190px;
    overflow: hidden;
    margin-bottom: -33px;
    transform: translate(0px, 0px);
}


.character-thumb > .character1 {
    position: absolute;
    max-width: 190px;
    height: 190px;
    overflow: hidden;
    margin-bottom: -33px;
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-direction: alternate;
}
.character-thumb > .character2 {
    position: relative;
    max-width: 190px;
    height: 190px;
    overflow: hidden;
    margin-bottom: -33px;
    animation-name: fade;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-direction: alternate-reverse;
}

.character-thumb > .backing {
    position: absolute;
    width: 192px;
    height: 65px;
    background-size: 190px 64px;
    transform: translate(0px, 98px);
}

.character-thumb > .backing.tagback1 {
    clip-path: inset(0 95px 0 0);
    -webkit-clip-path: inset(0 95px 0 0);
    overflow: hidden;

}
.character-thumb > .backing.tagback2 {
    clip-path: inset(0 0 0 95px);
    -webkit-clip-path: inset(0 0 0 95px);
    overflow: hidden;
}

.character-thumb > .backing.red {
    background-image: url('/assets/icon_elements/Chara_pltCharaIconAttributeRED.webp');
}
.character-thumb > .backing.blu {
    background-image: url('/assets/icon_elements/Chara_pltCharaIconAttributeBLU.webp');
}
.character-thumb > .backing.pur {
    background-image: url('/assets/icon_elements/Chara_pltCharaIconAttributePUR.webp');
}
.character-thumb > .backing.yel {
    background-image: url('/assets/icon_elements/Chara_pltCharaIconAttributeYEL.webp');
}
.character-thumb > .backing.grn {
    background-image: url('/assets/icon_elements/Chara_pltCharaIconAttributeGRN.webp');
}
.character-thumb > .backing.lgt {
    background-image: url('/assets/icon_elements/Chara_pltCharaIconAttributeLGT.webp');
}
.character-thumb > .rarity {
    width: 64px;
    height: 40px;
    background-size: 64px 40px;
    transform: translate(-2px, 115px);
}
.character-thumb > .rarity.ULTRA {
    background-image: url('/assets/icon_elements/MChaIco_txtRarityUL.webp');
}
.character-thumb > .rarity.SPARKING {
    background-image: url('/assets/icon_elements/MChaIco_txtRaritySP.webp');
}
.character-thumb > .rarity.EXTREME {
    background-image: url('/assets/icon_elements/MChaIco_txtRarityEX.webp');
}
.character-thumb > .rarity.HERO {
    background-image: url('/assets/icon_elements/MChaIco_txtRarityHE.webp');
}

.character-thumb > .lfbanner {
    width: 162px;
    height: 32px;
    background-size: 162px 32px;
    background-image: url('/assets/icon_elements/CharaInfo_icnLimitedPlate.webp');
    transform: translate(25px, 125px);
}

.character-thumb > .zenkaiicon {
    width: 65px;
    height: 50px;
    background-size: 65px 50px;
    background-image: url('/assets/icon_elements/CharaInfo_icnPlentySymbol.webp');
    transform: translate(0px, 20px);
}

.character-thumb > .tagicon {
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    background-image: url('/assets/icon_elements/MChaIco_icnTagChange.webp');
    transform: translate(2px, 88px);
}
.character-thumb > .transformicon {
    width: 31px;
    height: 35px;
    background-size: 31px 35px;
    background-image: url('/assets/icon_elements/HUD_icnTransform.webp');
    transform: translate(2px, 84px);
}

.character-thumb > .lfname {
    font-family: DBLegends;
    width: 162px;
    transform: translate(28px,133.49px);
}

.character-thumb > .name {
    width: 190px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    transform: translate(0px, 0px);
}

.character-thumb > .MainName {
    width: 190px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    transform: translate(0px, 0px);
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-direction: alternate;
}

.character-thumb > .FormName {
    width: 190px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    transform: translate(0px, 0px);
    animation-name: fade;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-direction: alternate-reverse;
}

.character-thumb > .FormName {
    opacity: 0; /* Start with name2 hidden */
}


.character-thumb > .rates {
    width: 190px;
    position: absolute;
    transform: translate(0px, 25px);
}

.character-thumb > .zpower {
    width: 190px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    transform: translate(100px, 25px);
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}


.chara-cutin img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.chara-cutin .cardoverlay {
    position: relative;
    line-height: 0;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-radius: 15px;
    background-position: center; 
}
.chara-cutin .common-bg {
    background-image: url("/assets/scouter_bg_common.webp") ;
}
.chara-cutin .ultra-bg {
    background-image: url("/assets/scouter_bg_ultra.webp");
}
.chara-cutin .zenkai-bg {
    background-image: url("/assets/scouter_bg_zenkai.webp");
}
.chara-cutin .cardoverlay:before {
    content: '';
    display: block;
    padding-bottom: 50%
}

.chara-cutin .cutin {
    position: absolute;
    top: 25%;
    transform: scale(2);
}

@media only screen and (min-width: 480px) {
    .chara-cutin .cardoverlay:before {
        padding-bottom:37.5%
    }

    .chara-cutin .cutin {
        position: absolute;
        top: 17%;
        transform: scale(1.55)
    }
}

@media only screen and (min-width: 720px) {
    .chara-cutin .cardoverlay:before {
        padding-bottom:25%
    }

    .chara-cutin .cutin {
        position: absolute;
        top: 0;
        transform: none
    }
}
.chara-cutin .cardoverlay .name {
    position: absolute;
    line-height: 0;
    bottom: 10%;
    left: 2%;
    flex-wrap: wrap;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black; /* Add multiple shadows to create the stroke effect */
    color: white; /* Set the text color */
}

.chara-cutin .cardoverlay .name:before {
    display: block;
    content: '';
    padding-bottom: 25%;
}

/* Adjust font size based on width using media queries */
@media (max-width: 600px) {
    .chara-cutin .cardoverlay .name {
        font-size: 14px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .chara-cutin .cardoverlay .name {
        font-size: 21px;
    }
}

@media (min-width: 901px) {
    .chara-cutin .cardoverlay .name {
        font-size: 30px;
    }
}
.chara-cutin .cardoverlay .rarity {
    position: absolute;
    line-height: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
}

.chara-cutin .cardoverlay .rarity:before {
    display: block;
    content: '';
    padding-bottom: 25%
}
.chara-cutin .cardoverlay .rarity.ULTRA {
    bottom: 5%;
    right: -2%;
    width: 35%;
    max-width: 250px;
    background-image: url('/assets/rarity_icons/Gas_txtRarity_ULTRA.webp');
}
.chara-cutin .cardoverlay .rarity.SPARKING {
    bottom: 5%;
    right: 2%;
    width: 30%;
    max-width: 250px;
    background-image: url('/assets/rarity_icons/Gas_txtRarity_SPARKING.webp');
}
.chara-cutin .cardoverlay .rarity.EXTREME {
    bottom: 5%;
    right: 1%;
    width: 30%;
    max-width: 250px;
    background-image: url('/assets/rarity_icons/Gas_txtRarity_EXTREME.webp');
}
.chara-cutin .cardoverlay .rarity.HERO {
    bottom: 5%;
    right: -2%;
    width: 30%;
    max-width: 250px;
    background-image: url('/assets/rarity_icons/Gas_txtRarity_HERO.webp');
}
.chara-cutin .cardoverlay .element {
    position: absolute;
    line-height: 0;
    top: 5%;
    left: 2%;
    width: 15%;
    max-width: 100px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
}

.chara-cutin .cardoverlay .element:before {
    display: block;
    content: '';
    padding-bottom: 54.1666667%
}

.chara-cutin .cardoverlay .element.RED {
    background-image: url('/assets/element_icons/Cmn_icnAttributeRED1.webp')
}
.chara-cutin .cardoverlay .element.BLU {
    background-image: url('/assets/element_icons/Cmn_icnAttributeBLU1.webp')
}
.chara-cutin .cardoverlay .element.GRN {
    background-image: url('/assets/element_icons/Cmn_icnAttributeGRN1.webp')
}
.chara-cutin .cardoverlay .element.YEL {
    background-image: url('/assets/element_icons/Cmn_icnAttributeYEL1.webp')
}
.chara-cutin .cardoverlay .element.PUR {
    background-image: url('/assets/element_icons/Cmn_icnAttributePUR1.webp')
}
.chara-cutin .cardoverlay .element.LGT {
    background-image: url('/assets/element_icons/Cmn_icnAttributeLGT1.webp')
}
.chara-cutin .cardoverlay .element.DRK {
    background-image: url('/assets/element_icons/Cmn_icnAttributeDRK1.webp')
}

.chara-cutin .cardoverlay .assets {
    position: absolute;
    line-height: 0;
    top: 40%;
    left: 0%;
    width: 15%;
    max-width: 100px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
}

.chara-cutin .cardoverlay .assets:before {
    display: block;
    content: '';
    padding-bottom: 54.1666667%
}

@media (max-width: 600px) {
    .chara-cutin .cardoverlay .assets {
        top: 32%;
    }
}

@media (min-width: 601px) and (max-width: 719px) {
    .chara-cutin .cardoverlay .assets {
        top: 35%;
    }
}
@media (min-width: 720px) and (max-width: 903px) {
    .chara-cutin .cardoverlay .assets {
        top: 20%;
    }
}
@media (min-width: 904px) and (max-width: 1050px) {
    .chara-cutin .cardoverlay .assets {
        top: 30%;
    }
}
@media (min-width: 1051px) {
    .chara-cutin .cardoverlay .assets {
        top: 40%;
    }
}

.chara-cutin .cardoverlay .LF {
    position: absolute;
    line-height: 0;
    top: 75%;
    left: 0;
    width: 85%;
    max-width: 650px;
    background-image: url('/assets/icon_elements/lfbanner.webp');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
}

.chara-cutin .cardoverlay .LF:before {
    display: block;
    content: '';
    padding-bottom: 54.1666667%
}
@media (max-width: 600px) {
    .chara-cutin .cardoverlay .LF {
        top: 75%;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .chara-cutin .cardoverlay .LF {
        top: 72%;
    }
}

@media (min-width: 901px) {
    .chara-cutin .cardoverlay .LF {
        top: 72%;
    }
}

.chara-cutin .cardoverlay .zenkaipush {
    position: absolute;
    line-height: 0;
    bottom: 25%;
    right: 2%;
    width: 20%;
    max-width: 80px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;

}.chara-cutin .cardoverlay .zenkaipush:before {
     display: block;
     content: '';

 }

.chara-cutin .cardoverlay .zenkaiFormpush1 {
    position: absolute;
    line-height: 0;
    bottom: 28%;
    right: 5px;
    width: 18%;
    max-width: 80px;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;

}.chara-cutin .cardoverlay .zenkaiFormpush1:before {
     display: block;
     content: '';
     padding: 0;
 }

.chara-cutin .cardoverlay .zenkaiFormpush2 {
    position: absolute;
    line-height: 0;
    bottom: 140px;
    right: 18px;
    width: 14%;
    max-width: 50px;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;

}.chara-cutin .cardoverlay .zenkaiFormpush2:before {
     display: block;
     content: '';
     margin-right: 0;
     padding: 0;

 }
@media (min-width: 301px) and (max-width: 600px) {
    .chara-cutin .cardoverlay .zenkaiFormpush2 {
        right: 12px;
        bottom: 110px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .chara-cutin .cardoverlay .zenkaiFormpush2 {
        right: 18px;
        bottom: 110px;
    }
}

@media (min-width: 901px) {
    .chara-cutin .cardoverlay .zenkaiFormpush2 {
        right: 19px;

    }
}
.chara-cutin .cardoverlay .formpush {
    position: absolute;
    line-height: 0;
    bottom: 25%;
    right: 2%;
    width: 14%;
    max-width: 50px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;

}.chara-cutin .cardoverlay .formpush:before {
     display: block;
     content: '';

 }

.chara-cutin .cardoverlay .switchpush {
    position: absolute;
    line-height: 0;
    bottom: 25%;
    right: 2%;
    width: 12%;
    max-width: 50px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;

}.chara-cutin .cardoverlay .switchpush:before {
     display: block;
     content: '';

 }    
