/* Body styles */

body {
  background-color: #1D1D1D;
  color: #F2F2F2;
  font-family: 'Poppins', sans-serif;
}

/* Character list styles */

.character-list {
  display: flex;  
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 20px;
}

/* Character card styles */ 

.character {
  background-color: #222222;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  margin: 20px;
  padding: 20px;
  text-align: center;
  width: 300px;
}

.character img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  transition: transform 0.3s;
}

.character img:hover {
  transform: scale(1.1);
}

.character-name {
  color: #FFD700;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}


/* Dark theme for the element */
.element {
  position: absolute;
  line-height: 0;
  top: 5%;
  left: 2%;
  width: 15%;
  max-width: 100px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 0;
}

.element:before {
  display: block;
  content: '';
  padding-bottom: 54.1666667%;
}

.element.RED {
  background-image: url('/assets/element_icons/Cmn_icnAttributeRED1.webp');
}

.element.BLU {
  background-image: url('/assets/element_icons/Cmn_icnAttributeBLU1.webp');
}

.element.GRN {
  background-image: url('/assets/element_icons/Cmn_icnAttributeGRN1.webp');
}

.element.YEL {
  background-image: url('/assets/element_icons/Cmn_icnAttributeYEL1.webp');
}

.element.PUR {
  background-image: url('/assets/element_icons/Cmn_icnAttributePUR1.webp');
}

.element.LGT {
  background-image: url('/assets/element_icons/Cmn_icnAttributeLGT1.webp');
}

.element.DRK {
  background-image: url('/assets/element_icons/Cmn_icnAttributeDRK1.webp');
}
